<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <!-- 
    AppContext switches informations
    https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element 
    -->
    <!-- WPF's Per-Monitor DPI support -->
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false" />
    <AppContextSwitchOverrides value="Switch.System.IO.BlockLongPaths=false" />
    <!-- Pointer-based Touch and Stylus Support -->
    <AppContextSwitchOverrides value="Switch.System.Windows.Input.Stylus.EnablePointerSupport=true" />
    <AppContextSwitchOverrides value="Switch.System.IO.Compression.DoNotUseNativeZipLibraryForDecompression=false" />
    <!-- Tooltips on keyboard access (.Net Framework 4.8 Feature) -->
    <AppContextSwitchOverrides value="Switch.UseLegacyAccessibilityFeatures=false;Switch.UseLegacyAccessibilityFeatures.2=false;Switch.UseLegacyAccessibilityFeatures.3=false;Switch.UseLegacyToolTipDisplay=false" />
    <!-- .Net Core's Timer implementation -->
    <AppContextSwitchOverrides value="Switch.System.Threading.UseNetCoreTimer=true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
       <dependentAssembly> 
          <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" /> 
          <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" /> 
       </dependentAssembly> 
       <dependentAssembly> 
          <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /> 
          <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" /> 
       </dependentAssembly> 
       <dependentAssembly> 
          <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" /> 
          <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" /> 
       </dependentAssembly> 
       <dependentAssembly> 
          <assemblyIdentity name="Microsoft.Win32.TaskScheduler" publicKeyToken="c416bc1b32d97233" culture="neutral" /> 
          <bindingRedirect oldVersion="0.0.0.0-2.8.10.0" newVersion="2.8.10.0" /> 
       </dependentAssembly> 
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.13.388" newVersion="1.1.13.388" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
