<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4" version="4.6.5-beta001" targetFramework="net47" developmentDependency="true" />
  <package id="Antlr4.CodeGenerator" version="4.6.5-beta001" targetFramework="net47" developmentDependency="true" />
  <package id="Antlr4.Runtime" version="4.6.5-beta001" targetFramework="net47" />
  <package id="BetterWin32Errors" version="0.2.0" targetFramework="net462" />
  <package id="Joveler.ZLibWrapper" version="1.2.0" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net47" />
  <package id="Microsoft.Wim" version="1.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net462" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net471" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net47" />
  <package id="SevenZipExtractor" version="1.0.11" targetFramework="net47" />
  <package id="SharpCompress" version="0.19.2" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.4.118" targetFramework="net47" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.9" targetFramework="net47" />
  <package id="SQLitePCLRaw.core" version="1.1.9" targetFramework="net47" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.9" targetFramework="net47" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.9" targetFramework="net47" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.9" targetFramework="net47" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.9" targetFramework="net47" />
  <package id="Svg" version="2.3.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net47" />
</packages>